.header {
	padding: 10px;
}


.header__left {
	display: inline-block;
	width: 15%;
	text-align: left;
	vertical-align: middle;
	
}

.header__center {
	display: inline-block;
	width: 62%;
	vertical-align: middle;
	
}

.header__right {
	text-align: right;
	display: inline-block;	

}
