.breadcrumbs{
	display: flex;
}

.breadcrumbs__list{
	display: flex;
}

.breadcrumbs__item {

	// display: inline-block;
	// vertical-align: middle;
	white-space: nowrap;

	&:after {
	
		display: inline-block;
		vertical-align: middle;
		content: ' ';
		width: 5px;
		height: 5px;
		border-radius: 2.5px;
		background-color: #fff;
		margin: 0 12px; 
	}
	
	&:last-child:after {
	
		display: none; 
	}
	
}

.breadcrumbs__item-link {

	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.42;
	text-transform: uppercase;
	text-decoration: none;
	display: flex;
	align-items: center;
	// display: inline-block;
	// vertical-align: middle;
	&:before {
	
		display: inline-block;
		vertical-align: middle;
		content: ' ';
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: #fff;
		margin: 0 12px; 
	}
	
	&:last-child:before {
	
		display: none; 
	}


	&:hover {
	
		text-decoration: underline; 

	}



}