.maincontent {
	width: 100%;
	height: 100%; }

	.section {
		height: 100vh;
		min-height: 650px;
		 }


  
	.hero {
		background: url("./../img_burgers/section_hero/background-hero.png") no-repeat;
		background-size: cover;
		background-position: center center; }
  
	.best {
		background: url("./../img_burgers/section_best/background-best.png") no-repeat;
		background-size: cover;
		background-position: center center; }

	.team {
		background: url("../../img_burgers/section-team/background-team.jpg") no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		  
	}

