.hero {
	background: url("./../img_burgers/section_hero/background-hero.png") center center / cover no-repeat;
	
}

.hero__container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px 0px;

	
}

.hero__left {
	// width: 45%;
	// display: inline-block;
	// vertical-align: middle;
}

.hero__img-wrapper {
	// display: inline-block;
	// width: 100%;		
}

.hero__right {
	// width: 50%;
	// display: inline-block;
	// vertical-align: middle;
}

.hero__img{
	width: 100%;
}




.hero__text {
	font-family: "lifehack";
    font-size: 65px;
	color: #fff;
	}