.title {
	font-family: "Gagalin";
	font-size: 72px; 
	color: rgb(249, 180, 59);
	line-height: 0.889;
	padding: 50px 0px;
		
}

.title--best {
	font-size: 71.713px;
	font-family: "Gagalin";
	color: rgb(47, 50, 52);
	line-height: 0.889;
	text-align: center;
	padding: 40px 0px 50px 0px;
		
	  
}