.button-order, .button-detail {
  display: inline-block;
  border: 1px solid #e45028;
  background-color: #e45025;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle; 
  
}
  .button-order:hover, .button-detail:hover {
    background-color: #c1401e;
    color: #fff; 
    
  }

.button-next {
	position: absolute;
	bottom: 0;
	right: 0;
  width: 50%;
  padding: 0 2%;
	}

.button__list {
  text-align: left; 

  @include phones {
    text-align: center; 

  }

}

.button-detail {
  border: 1px solid #2f3234;
  background-color: #2f3234; }
  .button-detail:hover {
    background-color: #1f2122;
    color: #fff; 
      
}