.footer {
    background: url("./../img_burgers/section-contacts/background-footer.png") center center/cover no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0px;
    
   
   }

   .footer-wrap {
    display:flex;
    align-items:center;
  }

.footer__left {
    width: 50%;
	  font-size: 14px;
	  font-family: "Ubuntu";
	  color: white;
	  line-height: 1.714;
	  text-align: left;
   
  }
  
.footer__left-phone {
    color:#e45028;
    font-weight: 700;
    text-decoration: none;
  }

.footer__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
      
  }

  .socials__list	{
    display: flex;
      justify-content: flex-end;
      align-items: center;
  }

.social__link {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  fill:#1e1e1e;

  &:hover {
    fill:#fff; 
  }
}