.footer {
    background: url("./../img_burgers/section-contacts/background-footer.png") center center/cover no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
   
}

.footer__left {
    width: 50%;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    text-align: left;
   
  }
  
.footer__left-phone {
    color:#e45028;
    text-decoration: none;
  }

.footer__right {
    width: 50%;
      
  }
  