.footer__left{
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    text-align: left;
    position: absolute;
    left: 79px;
    top: 5823.149px;
    width: 273px;
    height: 38px;
    z-index: 18;
  }
  