@function rem($px) {
    @return $px/16px + 0rem

}


@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
	
	.container {
		width:480px;
	}
	
	.breadcrumbs__list {
		display:none;
	}
	
	.pagination__list {
		display:none;
    }
    
	.hero__content{
		flex-direction:column;
		text-align:center;
	}
    
    .hero__img {
        max-width: 80%;
    }
   
    
}



@media screen and (max-width: 480px) {
	
	html {
		font-size: 10px;
	}
	.container {
		width:95%;
	}
	
	.breadcrumbs__list {
		display:none;
	}
	
	.pagination__list {
		display:none;
	}
    
   
}
