.pagination__list {
	position:fixed;
	top: 20%;
	right: 13%;
}

.pagination__item {
	
  margin-bottom: 5px;
  
}

/* .pagination__item .pagination__link--active .pagination__link:before {
	
	width: 16px;
    height: 16px; 
}*/

.pagination__link {
	
	width: 16px;
	height: 16px;
	display: block;
	position: relative;

}

 .pagination__link:before {
	 
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: 0.3s;
	
}
  
.pagination__link:after {
	
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
	
}
   
  .pagination__link:hover:before {
	  
    width: 16px;
    height: 16px;
	
}