

.pagination__list {
    position: fixed;
    top: 20%;
    right: 13%;
   

}

.pagination__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
     white-space: nowrap; 
    &:before {
        content:'';
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #fff;
        margin-bottom: 15px; 
    }
}
