.pagination__list {
	position:fixed;
	top: 20%;
    right: 13%;
    
    @include tablets {
        display:none;
    }
}

.pagination__item {
	
  margin-bottom: rem(5px);
  
}

/* .pagination__item .pagination__link--active .pagination__link:before {
	
	width: 16px;
    height: 16px; 
}*/

.pagination__link {
	
	width: rem(16px);
	height: rem(16px);
	display: block;
    position: relative;

    &:before {

        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: 0.3s;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background: #fff;
    }

    &:hover:before {
        width: rem(16px);
        height: rem(16px);
        
    }

}
      
 