.delivery {
    background: url("./../img_burgers/section-delivery/background-delivery.png") center center/cover no-repeat;
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
          
}

.form__comment {
    flex: 1;
    margin-right: 2%;
}



.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include tablets {
        flex-direction: column;
    }      
     
   
}

.form__column {
    width: 48%;
    margin-right: 2%;

    &:last-child {
        margin-right: 0;
    }
    
    @include tablets {
        width: 100%;
        padding: 0 2%;
        margin-right: 0;
    }      
}


.form__row { 
    display: flex;
    margin-bottom: rem(10px);
       
}



.input {
    display: flex;
    width: 100%;
    border-radius: rem(5px);
    border: 1px solid #fff;
    background-color: #fff;
    margin-right: rem(20px);
    padding: rem(10px);

    &:hover {
        border: 2px solid #f9b43b;
    }
}

.form__txt {
    width: 100%;
}



.textarea {
    width: 100%;
    height: rem(110px);
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: rem(5px);
    padding: rem(10px);
    
    &:hover {
        border: 2px solid #f9b43b;
    }
    
}


    .radio-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include phones {
            align-items: center;
        }
        
             
                
    }
            
    .radio-buttons__title {
        margin-bottom: rem(10px);
    
    }
    
    .radio-buttons__item {
        display: flex;
    
    }
    
    .radio-buttons__input {
        position: absolute;
        left:rem(-99999px);
           
    }
    
    .radio-buttons__label {
        display: flex;
        align-items: center;
        margin-right: rem(10px);
        
    }
    
    
    .radio-buttons__decore {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(16px);
        height: rem(16px);
        border-radius: 50%;
        border: 1px solid  #CDD1DA;
        background: #FFF;
        margin-right: rem(10px);

        &:before {
            content: "";
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background-color: transparent;
            
        } 
    }
    
       
    .radio-buttons__input:checked + .radio-buttons__label .radio-buttons__decore:before {
        background: #e35028;
        transition: .2s;
    }
    
     
    
    .checkbox-buttons__item {
        display: flex;
        
    
    }

    .checkbox-buttons__input {
        @extend .radio-buttons__input;
           
    }

    .checkbox-buttons__label {
        @extend .radio-buttons__label;
        
    }
    
    
    .checkbox-buttons__decore {
        width: rem(16px);
        height: rem(16px);
        border-radius: 0;
        @extend .radio-buttons__decore;

        &:before {
            @extend .radio-buttons__decore:before;
        }
    }
    
       
    .checkbox-buttons__input:checked + .checkbox-buttons__label .checkbox-buttons__decore:before {
            width: rem(10px);
            height: rem(10px);
        background: url("./../img_burgers/icons/check.png") center center/cover no-repeat;
        transition: .2s;
    }
           
  
    .button__item {
        display: flex;
        align-items: center;

        @include phones {
            align-items: center;
        }
         
                     
    }
           
    
    .button__send {
            border: 1px solid #e45028;
            background-color: #e45025;
            color: #fff;
            font-size: rem(14px);
            border-radius: rem(5px);
            padding: rem(10px) rem(15px);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin-right: rem(10px);
            cursor: pointer;
            
            &:hover {
              background-color: #c1401e;
           
            }
    
    }
    
    
    