.hero {
  background: url("./../img_burgers/section_hero/background-hero.png") center center/cover no-repeat; }

.hero--top {
	justify-content: flex-start;
} 
  
  
.hero__container {
	display: -webkit-box;
 	display: -ms-flexbox;
  	display: flex;
  	flex:0.9;
  	-webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
 }

.hero__content {
	display: flex;
	align-items:center;
	width:100%;

	@include tablets {
		flex-direction:column;
	}
}
  
.hero__img-wrapper {
	text-align: center; 
  	width: 100%;;
 } 
  
.hero__img {
	max-width: 95%; }

.hero__description{
	align-self: center;
	width: 100%;
}	
	
.hero__text {
	width: 90%;
	font-family: "lifehack";
	font-size: 4.0625rem;
	color: #fff;
	display: inline-block;
	line-height: 1;  }
