.delivery {
    background: url("./../img_burgers/section-delivery/background-delivery.png") center center/cover no-repeat;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
          
}

.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}


.delivery__left {
    display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    flex-flow: column nowrap;
    // width: 45%;
           
}

.delivery__right {
    display: flex;
    flex-flow: column nowrap;
    // flex-flow: wrap;
     
   
}

.input {
    display: flex;
    width: 220px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-right: 20px;
    padding: 10px;

    &:hover {
        border: 2px solid #f9b43b;
    }
}

.input--long {
    width: 460px;
    
}

.input--short {
    width: 100px;
}


.textarea {
    width: 460px;
    height: 110px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;

    &:hover {
        border: 2px solid #f9b43b;
    }
    
}


    .radio-buttons {
        display: flex;
        text-align: right;
        justify-content: start;
        flex-wrap: wrap;
       
                
    }
    
    .radio-buttons--left {
        text-align: left;
    }
    
    .radio-buttons__title {
        margin-bottom: 10px;
    
    }
    
    .radio-buttons__item {
        display: flex;
    
    }
    
    .radio-buttons__input {
        position: absolute;
        left:-99999px;
           
    }
    
    .radio-buttons__label {
        display: flex;
        margin:20px 20px 20px 0px;
        align-items: center;
        
    }
    
    
    .radio-buttons__decore {
        display: flex;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid  #CDD1DA;
        background: #FFF;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        &:before {
            content: "";
            display: flex;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: transparent;
            justify-content: center;
            align-items: center;
        }
    }
      
    
    .radio-buttons__input:checked + .radio-buttons__label .radio-buttons__decore:before {
        background: #e35028;
        transition: .2s;
    }
    
    
    .radio-buttons__text {
        display: flex;
        
    }
    
    .checkbox-buttons__item {
        display: flex;
        
    
    }

    .checkbox-buttons__input {
        @extend .radio-buttons__input;
           
    }

    .checkbox-buttons__label {
        @extend .radio-buttons__label;
        
    }
    
    
    .checkbox-buttons__decore {
        @extend .radio-buttons__decore;

        &:before {
            @extend .radio-buttons__decore:before;
        }
    }
    
       
    .checkbox-buttons__input:checked + .checkbox-buttons__label .checkbox-buttons__decore:before {
        background: #e35028;
        transition: .2s;
    }
    
    
    .checkbox-buttons__text {
        display: flex;
        
    }
  
    .button__item {
        display: flex;
        justify-content:start;
        align-items: center;
                     
    }
           
    
    .button__send {
            border: 1px solid #e45028;
            background-color: #e45025;
            color: #fff;
            font-size: 14px;
            border-radius: 5px;
            padding: 10px 15px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin-right: 10px;
            cursor: pointer;
            
            &:hover {
              background-color: #c1401e;
           
            }
    
    }
    
    
    