.best {
  background: url("./../img_burgers/section_best/background-best.png") center center/cover no-repeat;
  
 }	
 
 
	
.best__list {
  display:flex;
  justify-content: space-around;

  @include phones {
    flex-direction: column;
  }
	
	}

.best__item {
  display: flex;
  flex-direction: column;
	flex: 1;
	margin-right: 1.875rem;
  text-align: center;
  
  &:last-child {
    margin-right: 0; 
  }

  @include phones {
    flex-direction: row;

}

}
	
.best__img {
  margin: 0 auto;

}

.best__img-meat {
 fill:#e25028;

}

.best__img-hand {
  fill: #f8b43a; 
}
  

.best__img-natural {
fill:#8ac03e;

  }

.best__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Lifehack";
  color: #2f3234;
  line-height: 1;
  text-align: center;
  padding: 1.5rem 0; }

.best__text {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.5;
  text-align: center; }