.slider {
    background: linear-gradient(to bottom, #f9b43b, #f8b13b);
       
}

.slider__container{
    display: flex;
    align-items: center;
}

.button-left__img {
    fill:#fff;
    transform: rotateZ(-270deg);
    cursor: pointer;
    
}

.slider__content {
    display: flex;
}

.button-right__img {
    fill:#fff;
    transform: rotateZ(-90deg);
    cursor: pointer;
}