.delivery {
    background: url("./../img_burgers/section-delivery/background-delivery.png") center center/cover no-repeat;
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
          
}

.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
   
}


.form__column{ 
    display: flex;
    flex-flow: wrap;
    flex: 1;
}


.input {
    display: flex;
    width: rem(220px);
    height: rem(35px);
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-right: rem(20px);
    margin-bottom: rem(10px);
    padding: rem(10px);

    &:hover {
        border: 2px solid #f9b43b;
    }
}

.input--long {
    width: rem(460px);
    
}

.input--short {
    width: rem(100px);
}


.textarea {
    width: rem(460px);
    height: rem(110px);
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: rem(5px);
    padding: rem(10px);
    margin-bottom: rem(5px);

    &:hover {
        border: 2px solid #f9b43b;
    }
    
}


    .radio-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
       
                
    }
            
    .radio-buttons__title {
        margin-bottom: rem(10px);
    
    }
    
    .radio-buttons__item {
        display: flex;
    
    }
    
    .radio-buttons__input {
        position: absolute;
        left:rem(-99999px);
           
    }
    
    .radio-buttons__label {
        display: flex;
        align-items: center;
        margin:0px rem(10px) rem(10px) 0px;
        
    }
    
    
    .radio-buttons__decore {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid  #CDD1DA;
        background: #FFF;
        margin-right: 10px;

        &:before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: transparent;
            
        } 
    }
    
       
    .radio-buttons__input:checked + .radio-buttons__label .radio-buttons__decore:before {
        background: #e35028;
        transition: .2s;
    }
    
     
    
    .checkbox-buttons__item {
        display: flex;
        
    
    }

    .checkbox-buttons__input {
        @extend .radio-buttons__input;
           
    }

    .checkbox-buttons__label {
        @extend .radio-buttons__label;
        
    }
    
    
    .checkbox-buttons__decore {
        width: 16px;
        height: 16px;
        border-radius: 0;
        @extend .radio-buttons__decore;

        &:before {
            @extend .radio-buttons__decore:before;
        }
    }
    
       
    .checkbox-buttons__input:checked + .checkbox-buttons__label .checkbox-buttons__decore:before {
            width: 10px;
            height: 10px;
        background: url("./../img_burgers/icons/check.png") center center/cover no-repeat;
        transition: .2s;
    }
           
  
    .button__item {
        display: flex;
        align-items: center;
         
                     
    }
           
    
    .button__send {
            border: 1px solid #e45028;
            background-color: #e45025;
            color: #fff;
            font-size: 14px;
            border-radius: 5px;
            padding: 10px 15px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin-right: 10px;
            cursor: pointer;
            
            &:hover {
              background-color: #c1401e;
           
            }
    
    }
    
    
    