.slider {
    background: linear-gradient(to bottom, #f9b43b, #f8b13b);
       
}

.slider__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-left__img {
    fill:#fff;
    transform: rotateZ(-270deg);
    cursor: pointer;
    
}

.slider__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__order {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 71.707px;
    font-family: "Gagalin";
    color: rgb(227, 80, 40);
     
           
}


.button-right__img {
    fill:#fff;
    transform: rotateZ(-90deg);
    cursor: pointer;
}


.tariff__cost {
	font-size: 54px;
	font-weight: 400;
		
}

.tariff__cost:first-letter {
	font-size: 28px;
	font-weight: 400;
		
}