.delivery {
    background: url("./../img_burgers/section-delivery/background-delivery.png") center center/cover no-repeat;
    position: relative; }

    .form__buttons {
        text-align: left;
        font-size: 14px;
        padding: 20px 0;

    .button__item {
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        width: 49%;
                
    }
    
    .button__item-txt {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
    }
    
    .button__send {
        display: inline-block;	
        border: 1px solid #fff;
        background-color: #1c5bc3;
        color: #fff;
        padding: 10px 35px;
        font-size: 12px;
        border-radius: 5px;
        padding: 15px 20px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
            
    }
    
    .button__send:hover {
        background-color: #fff;
        color: #1c5bc4;;
    
    }
    
    .button__icon {
        display: inline-block;
        vertical-align: middle;
        
    }
    
      .button__icon_send {
        background: url('../../img_comment/icon/send.png') 0 0 no-repeat;
        width: 24px;
        height: 18px;
        background-position: center center;
    }
    
      .button__send:hover .button__icon_send {
        background-image: url('../../img_comment/icon/send-hover.png');
        color: #fff;
    
    }
    