.slider {
    background: linear-gradient(to bottom, #f9b43b, #f8b13b);
       
}

.button-left__img {
    fill:#fff;
    transform: rotateZ(-270deg);
    cursor: pointer;
    
}

.button-right__img {
    fill:#fff;
    transform: rotateZ(-90deg);
}