.title {
  font-family: "Gagalin";
  font-size: 4.5rem;
  color: #f9b43b;
  line-height: 1;
  margin-bottom: 3.125rem;
  }

.title--best {
  color: #2f3234;
  text-align: center;
  padding:6.25rem 0px;
  
}

.title--menu {
  color: #fff;
  padding: 6.25rem 4.0625rem;

}

.title__delivery {
  padding: 1.875rem 0px;
  text-align: center;
  
}