.title {
  font-family: "Gagalin";
  font-size: 72px;
  color: #f9b43b;
  line-height: 0.889;
  }

.title--best {
  color: #2f3234;
  text-align: center;
  padding:100px 0px;
  
}

.title--menu {
  color: #fff;
  padding:100px 65px;

}

.title__delivery {
  // padding: 30px 0px;
  text-align: center;
  
}