.title {
  font-family: "Gagalin";
  font-size: 72px;
  color: #f9b43b;
  line-height: 0.889;
  text-align: center;
  padding: 40px 0px; }

.title--best {
  // font-size: 72px;
  // font-family: "Gagalin";
  color: #2f3234;
  // line-height: 0.889;
  text-align: center;
  // padding: 100px 0px 50px 0px; 
}

title--menu {
  text-align: center;
}