.reviews {
  position: relative; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
   }

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
  }

  }

.person__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
  padding: rem(20px); 

  @include tablets {
    padding: 5%;
    
  }

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

}

.list__reviews:hover:after {
  opacity: 1; }

.person__description:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.person--img-photo1 {
	background: url("./../img_burgers/section-reviews/photo1.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
   }
   

.person--img-photo2 {
	background: url("./../img_burgers/section-reviews/photo2.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
   }

.person--img-photo3 {
	background: url("./../img_burgers/section-reviews/photo3.png") center center / cover no-repeat;
   width: 100%;
	height: 100%;
   }

.person--img-photo4 {
	background: url("./../img_burgers/section-reviews/photo4.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
   }

.person--img-photo5 {
	background: url("./../img_burgers/section-reviews/photo5.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
   }

.person--img-photo6 {
	background: url("./../img_burgers/section-reviews/photo6.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
  }

.person--img-photo7 {
	background: url("./../img_burgers/section-reviews/photo7.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
  }

.person--img-photo8 {
	background: url("./../img_burgers/section-reviews/photo8.png") center center / cover no-repeat;
	width: 100%;
	height: 100%;
   }

.person__name {
  font-size: rem(14px);
  font-family: "Gagalin";
  color: white;
  line-height: 2.008;
  text-align: left;
  padding: rem(10px) 0; 

  @include phones {
    font-size: rem(28px);
    line-height: 1;
    text-align: center;
  }

}

.person__comment {
  font-size: rem(14px);
  font-family: "Ubuntu";
  font-weight: 300;
  color: white;
  line-height: 1.714;
  text-align: left;
  padding: rem(10px); 

  @include phones {
    display: none;
  }
 
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}
.overlay__bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2f3234;
  opacity: .93;
}
.overlay__content{
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: rem(475px);
  height: rem(255px);
  padding: rem(22px);
  border-radius: 5px;
  @include phones{
    width: 100%;
  }
}

.overlay__close{
position: absolute;
top: 0px;
right: 8px;
color: #ec8468;
cursor: pointer;
font-size: rem(20px);
}

.overlay__title{
  max-height: 1.7*1em;
  line-height: 1.7;
  overflow: hidden;
  text-transform: uppercase;
}
.overlay__text{
  max-height: 1.7*7em;
  line-height: 1.7;
  overflow: hidden;
}