.title {
  font-family: "Gagalin";
  font-size: 4.5rem;
  color: #f9b43b;
  line-height: 1;
  margin-bottom: 0.625rem;
  text-align: left;

  @include phones {
    font-size: 3.5rem;
    
  }

}

.title--best {
  color: #2f3234;
  text-align: center;
   
}

.title__slider {
  color:#fff;

  @include tablets {
   text-align:center;
   }
}

.title--menu {
  color: #fff;
  padding: 6.25rem 4.0625rem;

  @include phones {
    padding: 3%;
  }

}

.title__delivery {
  padding: 1.875rem 0;
  text-align: center;
  
}